{# https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig #}
{% extends 'form_div_layout.html.twig' %}

{# form block #}
{%- block form_widget -%}
    {{ parent() }}
{%- endblock form_widget -%}

{# form block #}
{%- block form_row -%}
    <div class="field">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}

{# input block #}
{%- block url_widget -%}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' input'}) %}

    <div class="control">
        {{ parent() }}

        {% if help is defined %}
            <span class="help-block">{{ help }}</span>
        {% endif %}
    </div>
{%- endblock -%}

{# input block #}
{%- block text_widget -%}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' input'}) %}

    <div class="control">
        {{ block('form_widget_simple') }}

        {% if help is defined %}
            <span class="help-block">{{ help }}</span>
        {% endif %}
    </div>
{%- endblock -%}

{%- block textarea_widget -%}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' textarea'}) %}

    <div class="control">
        {{ parent() }}
    </div>
{%- endblock textarea_widget -%}

{%- block submit_widget -%}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' button is-link'}) %}

    <div class="control">
        {{ parent() }}
    </div>
{%- endblock submit_widget -%}

{%- block form_label -%}
    {% set label_attr = label_attr|merge({'class': 'label'}) %}

    {{ parent() }}
{%- endblock -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}

        {% if not compound %}
            <div class="notification help is-warning">
                <ul>
                    {%- for error in errors -%}
                        <li class="is-size-6">{{ error.message }}</li>
                    {%- endfor -%}
                </ul>
            </div>
        {% else %}
            <div class="notification help is-warning">
                <p class="is-size-4">There is error in form: </p>

                <ul>
                    {%- for error in errors -%}
                        <li>{{ error.message }}</li>
                    {%- endfor -%}
                </ul>
            </div>
        {% endif %}
    {%- endif -%}
{%- endblock form_errors -%}

