{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}

{% block body %}
    <div class="container has-text-centered">
        {% include('includes/logo.html.twig') %}
    </div>
    <section class="login-form hero is-success">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-full-mobile is-8-tablet is-offset-2-tablet is-6-desktop is-offset-3-desktop">
                    <h3 class="title has-text-grey">{% trans %}Login{% endtrans %}</h3>
                    {% if error %}
                        <div class="notification help is-warning">
                            <p class="is-size-4">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                        </div>
                    {% endif %}
                    <div class="box">
                        {% include 'account/social_login.html.twig' with {'label': 'Login with socials'|trans } %}
                        <form action="{{ path('login') }}" method="post" name="login_form">

                            <div class="field">
                                <div class="control">
                                    <input id="username" name="_username" class="input is-large" placeholder="{% trans %}Your Username or Email{% endtrans %}" autofocus="" value="{{ last_username }}" required>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input id="password" name="_password" class="input is-large" type="password" placeholder="{% trans %}Your Password{% endtrans %}" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    {% trans %}Remember me{% endtrans %}
                                </label>
                            </div>
                            <input class="button is-block is-info is-large is-fullwidth" type="submit" value="{% trans %}Login{% endtrans %}"/>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="{{ path('user_registration') }}">{% trans %}Sign Up (free){% endtrans %}</a> &nbsp;·&nbsp;
                        <a href="{{ path('user_recover_password') }}">{% trans %}Forgot Password{% endtrans %}</a> &nbsp;·&nbsp;
                        <a href="{{ path('help_index') }}">{% trans %}Need Help?{% endtrans %}</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}